body{
    background-color: rgb(226, 43, 186);
}
.box1{

    position: relative;
    left: 50px;
    height: 250px;
    width: 250px;
    background-color: rgb(23, 5, 129);
    border: 3px solid rgb(34, 33, 33);

}
.box2{
    height: 250px;
    width: 250px;
    background-color: rgb(189, 20, 20);
    border: 3px solid rgb(17, 16, 16);
    position: relative;
    left: 300px;
}
.box3{
    height: 250px;
    width: 250px;
    background-color: rgb(75, 209, 13);
    border: 3px solid rgb(12, 10, 10);
    position: relative;
    left: 550px;
}